.movieCard {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: rgb(173, 173, 173);
  border: 1px solid #000;
  border-radius: 8px;

  cursor: pointer;
  transition: transform 0.2s ease;
  overflow: hidden;
  &:hover {
    transform: scale(1.1);
  }
  .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 173, 173);
    width: 100%;
    aspect-ratio: 2/3;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      background-color: rgb(173, 173, 173);
      object-fit: cover;
      object-position: center top;
    }
  }
  .content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .title {
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-bottom: 5px;
  }
  .meta {
  }
  .type {
  }
  .year {
  }
}
