.movieCard {
  width: 150px;
  min-height: 250px;
  background-color: rgb(173, 173, 173);
  border: 1px solid #000;
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.1);
    & .meta {
      opacity: 1;
      display: block;
    }
  }
  .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(173, 173, 173);
    width: 148px;
    height: 220px;
    img {
      width: 100%;
      height: 100%;
      background-color: rgb(173, 173, 173);
      object-fit: cover;
    }
  }
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // position: relative;
  }
  .title {
    text-align: center;
  }
  .meta {
    transform: scale(1.1);
    width: 146px;
    max-height: 100px;
    opacity: 0;
    display: none;
    position: absolute;
    background-color: rgb(173, 173, 173);
    border: 1px solid #000;
    border-top: none;
    bottom: -31px;
  }
  .type {
  }
  .year {
  }
}
